html {
  display: flex;
  flex-flow: row /*nowrap*/;
  justify-content: center;
  /*align-content: center;*/
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #e5e5e5;
}
body {
  margin: 0;
  /*flex: 0 1 auto;*/
  /*align-self: auto;*/
  width: 800px;
  height: 600px;
  background: #a7d7c5;
  text-align: center;
  position: relative;
}
.create {
  margin: 0 auto;
  width: 455px;
  height: 455px;
  position: absolute;
  left: 173px;
  top: 72px;
  z-index: 2;
  background: #f6fbf9;
  border-radius: 32px;
}
.big-describe {
  position: absolute;
  left: 70px;
  top: 44px;
  right: 70px;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;

  color: #212b27;
}
.small-describe {
  position: absolute;
  left: 73px;
  top: 95px;
  right: 74px;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;

  color: #32403b;
}
.Input {
  position: absolute;
  width: 375px;
  height: 55px;
  left: 39px;
  right: 41px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 10px;
}
#Email {
  top: 166px;
}
#Password {
  top: 236px;
}
.btn-create-account {
  position: absolute;
  width: 255px;
  height: 59px;
  left: 100px;
  top: 312px;
  right: 100px;

  background: #84c7ae;
  border-radius: 15px;
  border: none;
}
.text-btn-create-account {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  margin: 0 auto;

  text-align: center;
  color: #ffffff;
}
.sign-in {
  position: absolute;
  width: 213px;
  height: 19px;
  left: 121px;
  top: 382px;
  right: 121px;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #32403b;
}
.btn-sign-in {
  border: none;
  background-color: #f6fbf9;
}
.square {
  position: absolute;
  width: 320px;
  height: 320px;

  background: #c1e3d6;
  border-radius: 40px;
  transform: rotate(-45deg);
  z-index: 1;
}
#square2 {
  top: -120px;
  left: -90px;
}
#square1 {
  top: 391px;
  left: 564px;
}
