html {
    display: flex;
    flex-flow: row /*nowrap*/;
    justify-content: center;
    /*align-content: center;*/
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #E5E5E5;
  }
  body {
    margin: 0;
    /*flex: 0 1 auto;*/
    /*align-self: auto;*/
    width: 800px;
    height: 600px;
    background: #A7D7C5;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  .create {
    margin: 0 auto;
    width: 455px;
    height: 455px;
    position: absolute;
    left: 173px;
    top: 72px;
    z-index: 1;
    background: #F6FBF9;
    border-radius: 32px;
  }
  .big-describe {
    position: absolute;
    left: 70px;
    top: 44px;
    right: 70px;
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
  
    color: #212B27;
  }
  .small-describe {
    position: absolute;
    left: 73px;
    top: 95px;
    right: 74px;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
  
    color: #32403B;
  }
  .Input {
    position: absolute;
    width: 375px;
    height: 55px;
    left: 39px;
    right: 41px;
  
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
  }
  #Email {
    top: 166px;
  }
  #Password {
    top: 236px;
  }
  .btn-create-account {
    position: absolute;
    width: 255px;
    height: 59px;
    left: 100px;
    top: 312px;
    right: 100px;
  
    background: #84C7AE;
    border-radius: 15px;
    border: none;
  }
  .text-btn-create-account {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    margin: 0 auto;
  
    text-align: center;
    color: #FFFFFF;
  }
  .sign-in {
    position: absolute;
    width: 213px;
    height: 19px;
    left: 121px;
    top: 382px;
    right: 121px;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #32403B;
  }
  .btn-sign-in {
    border: none;
    background-color: #F6FBF9;
  }
  .square {
    position: absolute;
    width: 320px;
    height: 320px;
  
    background: #C1E3D6;
    border-radius: 40px;
    transform: rotate(-45deg);
    z-index: 0;
  }
  #square2 {
    top: 318px;
    left: 499px;
  }
  #square1 {
    right: 512.45px;
    bottom: 313.45px;
  }
  